@model GroupProject.Models.NewProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.newProdName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newProdName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.newProdDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newProdDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.newProdPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newProdPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.newProdPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newProdPicture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.newID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
